.sportscontainer {
    position: relative;
    display: inline-flex;
    gap: 10px;
    margin-left: 30px;
    z-index: 9;
    padding-left: 130px;
    padding-bottom: 100px;
    padding-top: 50px;
    /* background: #000; */
  }

  .sportshead{
    /* margin-top: 30px; */
    position: absolute;
    margin-top: -25px;
    font-size: large;
    font-weight: 500;
    color: aliceblue;
  }

  .sportscard {

    overflow: hidden;
    width: 230px;
    height: 200px;
    background-color: black;
    border-radius: 4px;
    transition: transform 0.5s ease-in-out;
  }
  
  .sportscard:hover {
    transform: scale(1.8);
    height: 220px;
    width: 200px;


    .sportsimg{
      height: 120px;
      border-radius: 4px;

    }

  }
  
  .sportsoverlay {
    margin-left: 7px;
    position: relative;
    top: 5px;
    bottom: 0px;
    height: auto;
    width: auto;
    justify-content: center;
  }
  
  .sportsbutton {
    width: 100px;
    height: 25px;
    background-color: white;
    color: #333;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
  }
  
  .sportstext {
    color: #fff;
    margin: 0;
    padding: 5px 2px;
    font-size: 8px;
    justify-content: center;
  }
  
  .sportssmall-button {
    border-radius: 5px;
    height: 25px;
    width: 30px;
    background-color: grey;
    color: #fff;
    border: none;
    margin-left: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
  
  .sportssmall-text {
    padding-top: 5px;
    font-weight: bold;
    font-size: 8px;
    text-align: justify;
    color: #fff;
  }
  
  .sportsscroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: black;
  }
  
  .sportsleft-button {
    left: 0;
    /* background-color: #333; */
    color: #fff;
    width: 30px;  
    height: 200px;

  }
  
  .sportsright-button {
    right: 100px;
    color: #fff;
    z-index: 20px;
    width: 30px; 
    height: 200px; 
  }
  