.modal {
    position: fixed;
    top: 0px;
    left: 0; 
    right: 0;
     bottom: 0;
    width: 100%;
    height: 70%;
    background-color:rgba(0, 0, 0, 0.644) ;

    /* opacity: ; */
    /* Semi-transparent black background */
    display: flex ; 
    justify-content: center;
    align-items: center;
    z-index: 20;
  }
  
  .modal-content {
    top: 5%;
    background-color: rgba(232, 232, 232, 0.815);
    padding: 20px;
    border-radius: 9px;
    width: auto;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
    width: 80%;
  }
  
  .close {
    /* position: absolute; */
    /* top: ; */
    /* right: 0px; */
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 29px;
    left: 0;
    cursor: pointer;
    font-size: 30px;
    color: #e1dcdc;
    background-color: rgb(61, 67, 67);
  }
  
  .close:hover {
    color: rgb(255, 60, 11);
  }
  .movie-images {
  padding: 5px;
    /* gap: 2px; */
  background-color: rgb(0, 0, 0);
  }
  .movie-images img{
  width: 150px;
  height: 200px;
  }
  
  .container{
    display: flex ; 
    flex-direction: row; 
  }

  .modalstar-button {
    padding: 3px;
    position: absolute;
    /* top: 120px;  Adjust the top position as needed */
    /* left: 185px; Adjust the left position as needed */
    background-color: darkgray;
    border-radius: 249px; 
    cursor: pointer;
  
  }
  
  .modalstar-icon {
    /* color: ; */
    font-size: 24px;
  }
  